{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
	<title>Choose a Shipping and Billing Address - New Age Electronics</title>
{% endblock %}

{% block content %}
	<div class="container mb-3 border-bottom">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="6" class="text-center">
                        Saved Addresses
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if saved_addresses %} 
                    {% for saved_address in saved_addresses %}
                        <tr>
                            <td colspan="4">
                                {{ saved_address.name }}<br>
                                {{ saved_address.addressLine1 }}<br>
                                {{ saved_address.addressLine2 }}<br>
                                {{ saved_address.state }}<br>
                                {{ saved_address.city }}<br>
                                {{ saved_address.pincode }}
                            </td>
                            <td>
                                <form action="{% url 'cart:checkout_success' saved_address.id %}" method="POST">
                                    {% csrf_token %}
                                    <script
                                        src="https://checkout.razorpay.com/v1/checkout.js"
                                        data-key="rzp_test_21hu8pcAtLm4a4"
                                        data-amount="{{ razorpay_total }}"
                                        data-buttontext="Deliver Here"
                                        data-name="New Age Electronicsp"
                                        data-description=""
                                        data-image="{% static "img/logo.png" %}"
                                        data-prefill.name="Prasun Philip"
                                        data-prefill.email="support@newage.com"
                                        data-theme.color="#F37254"
                                    ></script>
                                    <input type="hidden" value="Hidden Element" name="hidden">
                                </form>
                                <a href="{% url 'cart:delete_address' saved_address.id %}" class="btn btn-outline-danger">Delete this address</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>
                            <h5>You have no saved addresses.</h5>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
	</div>
    <div class="container border border-primary p-4 rounded">
        <h3>Add a new shipping address.</h3>
        <form action="{% url 'cart:add_address' %}" class="form-group" method="POST" novalidate>
            {% csrf_token %}

            {% if new_address.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in new_address.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            {% for field in new_address.visible_fields %}
                {% if new_address.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid mb-2" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid mb-2" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control mb-2" %}
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary mx-auto">Add new address</button>
        </form>
    </div>
{% endblock %}