{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>Thank you for your order - Legit Shop</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h1>Thank you for placing an order with us.</h1>
            <br>
            <br>
            <p>Your order no. is <strong>{{ customer_order.id }}</strong></p>
            <br>
            <br>
            <p>We have received your order and will begin processing it right away.</p>
            <p>Please do shop with us again.</p>
        </div>
    </div>
{% endblock content %}