{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    <title>Order Details - New Age Electronics</title>
{% endblock title %}

{% block content %}
    <div>
        <div class="text-center">
            <br>
            <h1>Order Details</h1>
            <br>
            <table class="table table-bordered">
                <tr>
                    <td class="text-left" colspan="2">
                        <strong>Order No.: {{ order.id }}</strong><br>
                        <strong>Date: {{ order.created | date:"d M Y" }}</strong><br>
                        <strong>Order Total: {{ order.total }}</strong>
                    </td>
                    <td class="text-left" colspan="2">
                        <strong>Shipping Address:</strong><br>
                        {{ order.shippingName }}<br>
                        {{ order.shippingAddressLine1 }}<br>
                        {{ order.shippingAddressLine2 }}<br>
                        {{ order.shippingState }}<br>
                        {{ order.shippingCity }}<br>
                        {{ order.shippingPincode }}<br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Product Description</strong>
                    </td>
                    <td>
                        <strong>Quantity</strong>
                    </td>
                    <td>
                        <strong>Unit Price</strong>
                    </td>
                    <td>
                        <strong>Sub Total</strong>
                    </td>
                </tr>
                {% for item in order_detail %}
                    <tr>
                        <td>
                            {{ item.product }}
                        </td>
                        <td>
                            {{ item.quantity | intcomma }}
                        </td>
                        <td>
                            {{ item.product.price | intcomma }}
                        </td>
                        <td>
                            {{ item.sub_total }}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="text-right" colspan="3">
                        <strong>Total</strong>
                    </td>
                    <td>
                        &#x20b9;{{ order.total | intcomma }}
                    </td>
                </tr>
                <tr>
                    <td class="text-left" colspan="4">
                        <strong>Payment Details: </strong><br>
                        The order #{{ order.id }} has been paid successfully via Razorpay.
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary" onclick="window.print();">Print Order</button>
            <br><br>
        </div>
    </div>
{% endblock content %}