{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    <title>Your Shopping Cart - Legit Web</title>
{% endblock title %}

{% block content %}
    <div class="container">
        {% if not cart_items %}
            <div class="text-center">
                <h1>Your Cart is empty</h1>
                <p>Please click <a href="{% url 'shop:home' %}">here</a> to add some products to your cart.</p>
            </div>

        {% else %}
            <div class="text-center mb-4">
                <h5>Your Shopping Cart</h5>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    Your Items
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <a href="{{ cart_item.product.get_url }}"><img src="{{ cart_item.product.thumbnail.url }}" alt="{{ cart_item.product.name }}" class="float-left" style="max-width: 5rem"></a>
                                    </td>

                                    <td class="text-left">
                                        <span class="text-primary">{{ cart_item.product.name }}</span>
                                        <br>
                                        <span class="text-warning">Rate:</span> &#x20b9;{{ cart_item.product.price | intcomma }}
                                        <br>
                                        <span class="text-warning">Quantity:</span> {{ cart_item.quantity | intcomma }}
                                    </td>

                                    <td class="text-success">
                                        &#x20b9;{{ cart_item.subTotal | intcomma }}
                                    </td>

                                    {% if cart_item.quantity < cart_item.product.stock %}
                                        <td>
                                            <a href="{% url 'cart:add_to_cart' cart_item.product.id %}"><i class="fas fa-plus-circle"></i></a>&nbsp;<a href="{% url 'cart:remove_from_cart' cart_item.product.id %}"><i class="fas fa-minus-circle"></i></a>&nbsp;<a href="{% url 'cart:delete_from_cart' cart_item.product.id %}"><i class="fas fa-trash-alt"></i></a>
                                        </td>

                                    {% else %}
                                        <td>
                                            &nbsp;&nbsp;&nbsp;<a href="{% url 'cart:remove_from_cart' cart_item.product.id %}"><i class="fas fa-minus-circle"></i></a>&nbsp;<a href="{% url 'cart:delete_from_cart' cart_item.product.id %}"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Checkout
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    Please review your shopping cart before proceeding to payment.
                                </td>
                            </tr>

                            <tr>
                                <td class="text-left">
                                    Your total is: <strong>&#x20b9;{{ total | intcomma }}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mx-auto">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <script
                                src="https://checkout.razorpay.com/v1/checkout.js"
                                data-key="rzp_test_21hu8pcAtLm4a4"
                                data-amount="{{ razorpay_total }}"
                                data-buttontext="Proceed to Checkout"
                                data-name="Legit Shop"
                                data-description=""
                                data-image="{% static "img/logo.png" %}"
                                data-prefill.name="Harshil Mathur"
                                data-prefill.email="support@razorpay.com"
                                data-theme.color="#F37254"></script>
                            <input type="hidden" value="Hidden Element" name="hidden">
                        </form>

                        <form action="{% url 'shop:home' %}">
                            <button type="submit" class="btn btn-outline-secondary btn-block">Continue Shopping</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock content %}