{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class = "container">
        {% if category %}
            <h2>{{ category.name }}</h2>
        {% endif %}

        <div class = "row mx-auto">
            {% for product in product_list %}
                <div class = "col-9 col-sm-12 col-md-4 col-lg-4">
                    <div class = "card text-center" style = "min-width: 18rem;">
                        <a href = "{{ product.get_url }}">
                            <img class = "card-img-top" src = "{{ product.image.url }}" alt = "{{ product.name }}">
                        </a>
                        <div class = "card-body">
                            <h4>{{ product.name }}</h4>
                            <p class = "text-success">&#x20b9; {{product.price}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}