.razorpay-payment-button
{
    display: inline-block;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: .375rem .75rem;
    border-radius: 4px;
    margin-bottom: 5px;
    cursor: pointer;
}